* { 
    padding: 0; 
    margin: 0;  
    box-sizing: border-box; 
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(188, 222, 238);
}

.info-container {
    width: 23%;
    height: 430px;
    padding: 30px;
    background-color: white;
    margin: 15% auto;
    border-radius: 10px;
    box-shadow: 0 0 50px #b8b8b8;
    position: relative;
}

.info-container p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
}